.newsletter {
  background-color: $primary-color;
  padding: rem-calc(50);
  margin-bottom: rem-calc(-16);
  margin-left: rem-calc(-15);
  margin-right: rem-calc(-15);
  .section-title {
    /**color: $primary-color;**/
    color: $white;
    margin-bottom: rem-calc(30);
    /*text-align: center;*/
    font-size: rem-calc(28);
    @include breakpoint(medium) {
      font-size: rem-calc(59);
      line-height: rem-calc(89);
      letter-spacing: rem-calc(.59);
    }
    @include breakpoint(medium only) {
          line-height: 3rem;
    }
  }
  input {
    text-transform: uppercase;
  }
  .button {
    color: $white;
    font-size: rem-calc(18);
  }
  &.newsletter-two {
    .section-title {
      text-align: center;
    }
    .button {
      &.alert {
        width: 100%;
        font-size: rem-calc(15);
      }
    }
    .cell {
      > .grid-x {
        max-width: rem-calc(930);
        margin: 0 auto;
      }
    }
  }
}

.footer {
  background-color: $footer-background;
  text-align: center;
  padding: rem-calc(40 0 15);
  .menu {
    > li {
      a {
        font-family: $body-font-family;
        color: $white;
        padding: .7rem .3rem;
        &:after {
          content: '|';
          color: #1C43AF;
          margin-left: .6rem;
        }
      }
      &:last-child {
        > a {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  nav[role="navigation"] {
    margin-bottom: rem-calc(15);
  }
  .copyright {
    margin-bottom: 0;
  }
  .footer-sub {
    background-color: $footer-sub-background;
    margin-left: rem-calc(-15);
    margin-right: rem-calc(-15);
    margin-bottom: rem-calc(-15);
    padding: rem-calc(10);
    font-size: rem-calc(13);
    color: $white;
  }
}

@include breakpoint(small down){
  .footer .menu li{
    display: block;
    width:100%;

    a:after{
      display:none;
    }
  }
}

.priv-policy{
  color: #fff;
  margin-top: -15px;
  margin-bottom: 15px;
  display: block;
  @include breakpoint(small down){
      margin-top: 0px;
      margin-bottom: 30px;
  }

  a{
    color:#fff;
  }
}
