.header {
  background-color: $header-background;
  // Hamburger
  @import "elements/hamburger";
  @import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
  margin-bottom: rem-calc(45);
  > .top-bar {
    @include xy-gutters($gutter-type: padding, $gutter-position: left right);
    @include xy-gutters($gutters: rem-calc(35), $gutter-type: padding, $gutter-position: top);
    max-width: $global-width; // using Foundation's width variable found in "_settings.scss"
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    .top-bar-right {
      &.header-bottom {
        @include breakpoint(small down) {
          order: 1;
        }
        > ul {
          > li {
            &:nth-child(2) {
              @include breakpoint(small down) {
                margin-top: rem-calc(-10);
                margin-left: auto;
              }
              transform: translate(rem-calc(7), 0);
            }
          }
        }
      }
    }
    .top-bar-left {
      @include breakpoint(small down) {
        order: 2;
        .menu {
          > li {
            &:last-child {
              margin-left: auto;
              > a {
                padding: 0;
              }
            }
          }
        }
      }
    }
     ul {
      background-color: transparent;
      &.menu {
        .site-logo {
          background-image: url($header-logo);
          width: $header-logo-width;
          height: $header-logo-height;
          background-size: contain;
          background-repeat: no-repeat;
          text-indent: rem-calc(-9999);
          /*margin-left: 1rem;*/
          @include breakpoint(small down) {
            top: 30px;
  position: relative;
  width: 7.5rem;
          }
        }

        .sun-icon {
          cursor: pointer;
          max-width: rem-calc(32);
        }
        .hamburger {
          position: relative;
          z-index: 1000;
          @include breakpoint(small down) {
                margin-right: rem-calc(-10);

          }
          &.is-active {
            @include breakpoint(medium) {
              position: fixed;
              right: 1rem;
              margin-top: -1rem;
            }
            @include breakpoint(medium down) {
              transform: translate(-10px, -30px) scale(.6);
            }
          }
          &:not(.is-active) {
            margin-left: rem-calc(20);
            margin-right: .5rem;
            @include breakpoint(medium) {
              transform: translate(0,2px);
            }
          }
        }
        .cta {
          @include btn-basic($color: $primary-color, $text: $white);
          display: block;
          padding: .7rem 1rem;
          font-family: $button-font-family;
          font-size: rem-calc(13);
          @include breakpoint(small down) {
            padding: .7rem;
  font-size: 11px;
  position: relative;
  top: -17px;
  }
        }

        .sun-icon {
          > svg {
            width: rem-calc(32);
            height: rem-calc(38);
          }
        }
      }
    }
  }


}
