$offcanvas-full-screen-bg: $primary-color;
$offcanvas-full-screen-side: bottom;
$offcanvas-full-screen-closebutton-size: 5rem;
$chickenlittle-side: top;

.offcanvas-full-screen {
  @include off-canvas-base($background: $offcanvas-full-screen-bg, $transition: 0.3s ease-in-out);
  @include off-canvas-position($position: $offcanvas-full-screen-side);
  .offcanvas-full-screen-inner {
    height: 100%;
    /*padding: 70px 125px;*/
    padding: rem-calc(25);
    @include breakpoint(medium) {
      padding: rem-calc(50);
    }
    @include breakpoint(large) {
      padding: rem-calc(130 140);
    }

    .menu-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $white;
    padding-top: rem-calc(65);
    @include breakpoint(medium) {
      border-left: 1px solid $white;
      padding-top: 0;
      border-top: none;
      padding-left: rem-calc(35);
    }
    @include breakpoint(large) {
      padding-left: rem-calc(65);
    }
     .button {
        font-size: rem-calc(15);
        border-radius: rem-calc(35);
        background-color: $alert-color;
        color: $white;
        margin-bottom: rem-calc(85);
    }
    .menu-bottom {
    margin-top: auto;
    font-weight: bold;
    color: $white;
    font-size: rem-calc(20);
    line-height: rem-calc(26);
    p {
      margin-bottom: 0;
    }
}
    .chickenlittle-wrap {
      margin-bottom: rem-calc(90);
      font-family: 'Heinberg';
      font-size: rem-calc(21);
      line-height: rem-calc(31);
      color: $warning-color;
      cursor: pointer;
    }
    .sun-icon {
      max-width: rem-calc(35);
      display: block;
      margin-top: rem-calc(7);
    }
    .social-nav {
      justify-content: inherit;
      a {
        width: rem-calc(40);
        height: rem-calc(40);
        svg {
          width: rem-calc(15);
          height: rem-calc(15);
        }
      }
    }
}

.menu {
  li {
    a {
      font-family: $header-font-family;
      color: $white;
      @include breakpoint(small down) {
        padding-left: 0;
        padding-right: 0;
      }
      @include breakpoint(medium) {
        font-size: rem-calc(36);
      }
      @include breakpoint(large) {
        font-size: rem-calc(48);
      }
      /*line-height: rem-calc(58);*/
    }
    &:last-child {
      margin-bottom: rem-calc(50);
    }
  }
}

  }
&.chickenlittle-offcanvas {
  @include off-canvas-base($background: $offcanvas-full-screen-bg, $transition: 0.3s ease-in-out);
  @include off-canvas-position($position: $chickenlittle-side);
&.is-open {
  z-index: 2000;
}

  .chicken-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
@import "elements/hamburger";
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
.hamburger {
  position: absolute;
   right: 9.4vw;
   top: 5vw;
}

.offcanvas-full-screen-inner {
  text-align: left;
  height: 100%;
  .chicken-little {
    height: 100%;
    .chicken-img {
      max-width: rem-calc(215);
    position: absolute;
    left: 0;
    top: 12vw;
    }
    .block-title {
      /**font-family: $body-font-family;**/
      font-family: 'Heinberg';
      text-transform: uppercase;
      font-size: rem-calc(23);
      line-height: rem-calc(37);
      margin-bottom: rem-calc(20);
      /**font-weight: bold;**/
    }
    .block-title,
    .chicken-little-post {
      color: $white;
      .post-title {
        color: $white;
        text-transform: uppercase;

        @include breakpoint(medium) {
          font-size: rem-calc(85);
          line-height: rem-calc(79);
        }
      }
      .post-content {
        @include breakpoint(medium) {
          p{
            font-size: rem-calc(23);
            line-height: rem-calc(37);
          }
        }
      }
      @include breakpoint(medium) {
        margin-left: rem-calc(215);
      }
    }
    .grid-x,
    .grid-container {
      height: 100%;
    }
    .grid-container {
      max-width: rem-calc(1050);
    }
  }
}

}
}



.offcanvas-full-screen-menu {
  @include menu-base;
  @include menu-direction(vertical);

  a {
    color: $white;

    &:hover {
      color: darken($white, 30%);
    }
  }
}

/*
.offcanvas-full-screen-close {
  color: $white;
  font-size: $offcanvas-full-screen-closebutton-size;

  &:hover {
    color: darken($white, 30%);
  }
}
*/
