//Layout
//Header
$header-background: transparent;
$header-logo: '../svgs/facta-logo-blk.svg';
$header-logo-width: rem-calc(36);
$header-logo-height: rem-calc(58);
//Buttons
$btn-color: $alert-color;
$btn-text-color: $white;
//Footer
$footer-background: $primary-color;
$footer-sub-background: lighten( $primary-color, 20% );
