.privacy-policy{
	.entry-content{

		p{
			color:#000;
		}
		@include breakpoint(small down) {
				padding:0 20px;
		}
	}

	.article-header{
		@include breakpoint(small down){
			padding:0 20px;

			h1{
				font-size: 1.7em;
			}
		}
	}
}
