/*
  1. Base
*/
div.pre-load-img-container {
  display: none; }

/*
  2. Components
*/
div.top-container {
  position: relative;
height: 100%;
}
  div.top-container div.amplitude-visualization {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: black; }
    div.top-container img.now-playing-album-art {
      width: 100%;
      /*height: 100%;*/
    }
  div.top-container div.visualization-toggle {
    width: 24px;
    height: 24px;
    top: 0;
    right: 8px;
    cursor: pointer;
    position: absolute; }
    div.top-container div.visualization-toggle.visualization-on {
      background: url("../svgs/visualization-on.svg") no-repeat center; }
    div.top-container div.visualization-toggle.visualization-off {
      background: url("../svgs/visualization-off.svg") no-repeat center; }
  div.top-container div.amplitude-shuffle {
    width: 22px;
    height: 13px;
    cursor: pointer;
    top: 48px;
    right: 10px;
    position: absolute; }
    div.top-container div.amplitude-shuffle.amplitude-shuffle-on {
      background: url("../svgs/shuffle-on.svg") no-repeat center; }
    div.top-container div.amplitude-shuffle.amplitude-shuffle-off {
      background: url("../svgs/shuffle-off.svg") no-repeat center; }
  div.top-container div.amplitude-repeat {
    width: 25px;
    height: 15px;
    cursor: pointer;
    top: 85px;
    right: 8px;
    position: absolute; }
    div.top-container div.amplitude-repeat.amplitude-repeat-on {
      background: url("../svgs/repeat-on.svg") no-repeat center; }
    div.top-container div.amplitude-repeat.amplitude-repeat-off {
      background: url("../svgs/repeat-off.svg") no-repeat center; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
div.control-container {
  display: flex; }
  div.control-container div.amplitude-prev {
    width: 18px;
    height: 24px;
    background: url("../svgs/prev.svg");
    background-size: cover;
    cursor: pointer;
    margin: auto;
    margin-top: 10px; }
  div.control-container div.amplitude-play-pause {
    width: 50px;
    height: 65px;
    cursor: pointer;
    margin: auto;
    @include breakpoint(small down) {
      position: absolute;
      bottom: 0;
      left: rem-calc(10);
      top: rem-calc(50);
    }
   }
    div.control-container div.amplitude-play-pause.amplitude-playing {
      background: url("../svgs/pause.svg") no-repeat center; }
    div.control-container div.amplitude-play-pause.amplitude-paused {
      background: url("../svgs/play.svg") no-repeat center; }
  div.control-container div.amplitude-next {
    width: 18px;
    height: 24px;
    background: url("../svgs/next.svg");
    background-size: cover;
    cursor: pointer;
    margin: auto;
    margin-top: 10px; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
  div.meta-data-container span.now-playing-name {
    display: block;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
    color: $alert-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: rem-calc(20);
    line-height: rem-calc(19);
    letter-spacing: rem-calc(.5);
    font-family: $header-font-family;
    @include breakpoint(small down) {
          margin-top: rem-calc(15);
    }
   }
  div.meta-data-container span.now-playing-artist-album {
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7); }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
div.amplitude-wave-form {
  margin-top: 25px;
  margin-bottom: 12px; }
  div.amplitude-wave-form svg {
    stroke: #d8d8d8;
    height: 50px;
    width: 100%;
    stroke-width: .5px; }
    div.amplitude-wave-form svg g {
      stroke: #d8d8d8;
      height: 50px;
      width: 100%; }
      div.amplitude-wave-form svg g path {
        stroke: #d8d8d8;
        height: 50px;
        width: 100%; }
.timings {
  color: #9a9a9a;
  margin-bottom: rem-calc(10);
}
.timings > * {
  display: inline-block;
}

span.amplitude-current-time {
  text-align: left;
  color: #9a9a9a;
  font-size: 12px;
  font-family: "Avenir", sans-serif; }

span.amplitude-time-remaining {
  text-align: right;
  color: #9a9a9a;
  font-size: 12px;
  font-family: "Avenir", sans-serif; }

div.song-navigation {
  margin-top: 50px;
  margin-bottom: 25px; }
  div.song-navigation input[type="range"] {
    width: 90%;
    -webkit-appearance: none;
    z-index: 9999;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  div.song-navigation input[type="range"]:focus {
    outline: none; }
  div.song-navigation input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25); }
  div.song-navigation input[type="range"]::-webkit-slider-thumb {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -10px; }
  div.song-navigation input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25); }
  div.song-navigation input[type="range"]::-moz-range-thumb {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -10px; }
  div.song-navigation input[type="range"]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25); }
  div.song-navigation input[type="range"]::-ms-fill-lower {
    background: transparent; }
  div.song-navigation input[type="range"]::-ms-fill-upper {
    background: transparent; }
  div.song-navigation input[type="range"]::-ms-thumb {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 20px;
    -webkit-appearance: none;
    margin-top: -10px; }

div.arrow-up img.arrow-up-icon {
  cursor: pointer;
  margin: auto;
  display: block; }

input[type="range"].global-large-song-slider {
  width: 100%;
  margin-top: -74px;
  -webkit-appearance: none;
  z-index: 9999;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block; }

input[type="range"].global-large-song-slider:focus {
  outline: none; }

input[type="range"].global-large-song-slider::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 0px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none; }

input[type="range"].global-large-song-slider::-webkit-slider-thumb {
  width: 5px;
  height: 68px;
  background-color: white;
  border-radius: 20px;
  -webkit-appearance: none; }

input[type="range"].global-large-song-slider::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  border-radius: 0px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0); }

input[type="range"].global-large-song-slider::-moz-range-thumb {
  width: 5px;
  height: 68px;
  background-color: white;
  border-radius: 20px;
  -webkit-appearance: none;
  margin-top: -34px; }

input[type="range"].global-large-song-slider::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.25); }

input[type="range"].global-large-song-slider::-ms-fill-lower {
  background: transparent; }

input[type="range"].global-large-song-slider::-ms-fill-upper {
  background: transparent; }

input[type="range"].global-large-song-slider::-ms-thumb {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 20px;
  -webkit-appearance: none;
  margin-top: -10px; }

/*
  3. Layout
*/
div.visualizations-player {
  width: 100%;
  max-width: rem-calc(760);
  background-color: $white;
  border: 2px solid $primary-color;
  margin-top: 50px;
  position: relative;
  height: 170px;
 }
