.facetwp-type-pager {
    text-align: center;
    .facetwp-load-more {
display: inline-block;
vertical-align: middle;
margin: 0 0 1rem;
padding: .85em 1em;
border: 1px solid transparent;
border-radius: 0;
transition: background-color .25s ease-out,color .25s ease-out;
font-family: "Heinberg";
font-size: .9rem;
-webkit-appearance: none;
line-height: 1;
text-align: center;
cursor: pointer;
background-color: $alert-color;
color: $white;
border-radius: 1.25rem;
font-size: .9rem;
background-color: transparent;
border-color: $white;
border-width: 2px;
cursor: pointer;
}


}
