$hamburger-layer-color: $secondary-color;
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 35px;
$hamburger-layer-height: 5px;
$hamburger-layer-spacing: 4px;
$hamburger-active-layer-color:$white;
