
.wp-block-pullquote {
  max-width: rem-calc(900);;
  margin: auto auto;
  color: #2049db;
  text-align: left;
  font-family: $header-font-family;

  > blockquote {
      color: #2049db;
      padding: 0;
      border: none;
  }
  p {
      line-height: rem-calc(91) !important;
      letter-spacing: -.03125rem;
      font-family: "Mogan";
      color: $primary-color;
      @include breakpoint(medium) {
        margin-top: rem-calc(70);
        margin-bottom: rem-calc(110);
      }
      @include breakpoint(medium only) {
        max-width: rem-calc(620);
      }
      @include breakpoint(small down) {
        font-size: rem-calc(48);
        line-height: rem-calc(54) !important;
      }
      @include breakpoint(medium) {
        font-size: rem-calc(78);
        line-height: rem-calc(91) !important;
        letter-spacing: rem-calc(-.5);
      }
      &:before {
        content: '“';
        @include breakpoint(medium) {
          font-size: rem-calc(157);
          transform: translate(rem-calc(0), rem-calc(20));
          display: inline-block;
        }
      }
      &:after {
        content: '”';
        position: absolute;
        @include breakpoint(medium) {
          font-size: rem-calc(157);
          transform: translate(rem-calc(-5), rem-calc(30));
          display: inline-block;
        }
      }
  }
  cite {
    font-family: $body-font-family;
  }
}


    .quote {
      max-width: rem-calc(900);
      margin: auto auto rem-calc(55);
      color: $primary-color;
      @include breakpoint(medium down) {
        margin-top: rem-calc(70);
        margin-bottom: rem-calc(110);
      }
      @include breakpoint(medium only) {
        max-width: rem-calc(620);
      }
      @include breakpoint(small down) {
        font-size: rem-calc(48);
        line-height: rem-calc(54);
      }
      @include breakpoint(medium) {
        font-size: rem-calc(78);
        line-height: rem-calc(91) !important;
        letter-spacing: rem-calc(-.5);
      }
      &:before {
        content: '“';
        @include breakpoint(medium) {
          font-size: rem-calc(157);
          transform: translate(rem-calc(10), rem-calc(20));
          display: inline-block;
        }
      }
      &:after {
        content: '”';
        position: absolute;
        @include breakpoint(medium) {
          font-size: rem-calc(157);
          transform: translate(rem-calc(-5), rem-calc(30));
          display: inline-block;
        }
      }
    }

    .quote-author {
    max-width: 900px;
    margin: 0 auto;
    margin-top: -3rem !important;
    margin-bottom: 2rem;
    color: $primary-color;
}


.wp-block-quote {
    max-width: 460px;
    margin: rem-calc(25) auto;
    border-color: $primary-color;
    border-width: 2px;
    padding-top: 0;
    p {
      color: $alert-color;
      font-weight: bold;
      font-size: rem-calc(15);
      line-height: rem-calc(20) !important;
      letter-spacing: rem-calc(.10);
    }
}
