.social-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem-calc(40);
  a {
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
    width: rem-calc(65);
    height: rem-calc(65);
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $white;
    border-radius: rem-calc(35);
    justify-content: center;
    .inst-layer {
    width: rem-calc(15);
    height: rem-calc(15);
    background: $secondary-color;
    position: absolute;
}
    svg {
      width: rem-calc(20);
      height: rem-calc(20);
      fill: $primary-color;
      position: relative;
      g,
      polygon,
      path {
        fill: $primary-color;
      }
    }
    &:hover {
      svg {
        fill: $primary-color;
        g,
        polygon,
        path {
          fill: $primary-color;
        }
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &.social-tpn {
    transform: scale(.8)translate(rem-calc(-50), 0);
    a {
      background-color: $primary-color;
      margin-left: rem-calc(15);
      margin-right: rem-calc(15);

      svg {
        fill: $secondary-color;
        g,
        polygon,
        path {
          fill: $secondary-color;
        }
      }
      &:hover {
        svg {
          g,
          polygon,
          path {
            fill: $secondary-color;
          }
        }
      }
      &.website-icon {
        background-color: transparent;
        svg {
          fill: $primary-color;
          transform: scale(3);
          g,
          polygon,
          path {
            fill: $primary-color;
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
