body {
  &.page-template-article-overview {

    .visualizations-player {
      wave {
      border-color: transparent !important;
  }
    }

    .hentry {

      .left-divider {
    position: relative;
}

.left-divider > svg {
  width: 139px;
  height: 160px;
    position: absolute;
    z-index: 1;
    left: -2.6rem;
    top: 3rem
}

.left-divider > svg  path {
    fill: #f28172
}

&.hero {
  color: $primary-color;
  /*min-height: 100vh;*/
  margin-bottom: rem-calc(20);

  .hero-bg {
    background-color: $white;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .bottom-divider {
    position: relative;
    z-index: -1;
margin-left: rem-calc(-15);
margin-right: rem-calc(-15);
margin-bottom: rem-calc(-15);
    > svg {
      position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vw;
  left: 0;
      path {
        fill: $white;
      }
    }
  }

  .top-left-divider {
    z-index: -1;
margin-left: rem-calc(-15);
margin-right: rem-calc(-15);
margin-bottom: rem-calc(-15);
    > svg {
      position: absolute;
      z-index: -1;
      width: 50%;
height: 60vw;
@include breakpoint(small down) {
  height: 120vw;
}
  left: 0;
  top: 0;
      path {
        fill: $secondary-color;
      }
    }
  }

  .top-right-divider {
    z-index: -1;
margin-left: rem-calc(-15);
margin-right: rem-calc(-15);
margin-bottom: rem-calc(-15);
    > svg {
      position: absolute;
      z-index: -2;
      width: 90%;
height: 40vw;
@include breakpoint(small down) {
  height: 80vw;
}
right: 0;
top: -5px;
      path {
        fill: $warning-color;
      }
    }
  }

  .section-title {
    color: $white;
    letter-spacing: rem-calc(-.5);
    margin-bottom: rem-calc(35);
    text-transform: uppercase;
    font-size: rem-calc(42);
    span {
      color: $primary-color;
    }
    @include breakpoint(medium) {
      font-size: rem-calc(88);
      line-height: rem-calc(99);
      letter-spacing: rem-calc(2.5);
    }
  }

  .article-header {
    position: relative;
    .author-img {
        max-width: rem-calc(310);
        position: absolute;
        right: 0;
        z-index: -1;
    }
    .author-title {
      color: $white;
      font-size: rem-calc(19.74);
      font-weight: bold;
      line-height: rem-calc(32);
      letter-spacing: rem-calc(.10);
      &.has-badge {
position: relative;
padding-left: rem-calc(45);
&:before {
    content: '';
    background-image: url('../svgs/verified.svg');
    background-repeat: no-repeat;
    background-size: rem-calc(25);
    width: rem-calc(25);
    height: rem-calc(25);
    display: block;
    position: absolute;
    left: 0;
    transform: scale(1.9)translate(rem-calc(10), 0);
}

}

    }
    .subline {
      font-weight: 900;
      color: $primary-color;
      text-transform: uppercase;
      background-color: $white;
      padding: rem-calc(5 15);
      display: inline-block;
      margin-bottom: rem-calc(25);
      font-size: rem-calc(14);
      @include breakpoint(medium only) {
        padding-left: 0;
      }
      @include breakpoint(medium down) {
        margin-top: rem-calc(30);
      }
      a {
        color: $primary-color;
      }
      &.external {
        position: relative;
        &:before {
          content: '';
          width: rem-calc(35);
          height: rem-calc(35);
          display: block;
          background-image: url('../svgs/external.svg');
          background-size: contain;
          position: absolute;
          right: rem-calc(-45);
          top: 0;
        }
      }


    }

    .single-title {
      letter-spacing: rem-calc(-.5);
      margin-bottom: rem-calc(35);
      text-transform: uppercase;
      font-family: $body-font-family;
      color: $primary-color;
      font-weight: bold;
      text-decoration: underline;
      a {
        color: $primary-color;
      }
      @include breakpoint(medium) {
        font-size: rem-calc(51);
        line-height: rem-calc(62);
        letter-spacing: rem-calc(.10);
      }
    }
  }

  .post-thumb {
    max-width: rem-calc(75);
    > img {
      border-radius: rem-calc(100);
    }
  }

  .author-name {
    padding-left: rem-calc(15);
    color: $alert-color;
    font-size: rem-calc(23);
    line-height: rem-calc(28);
    > a {
      color: $alert-color;
    }
  }

  .dots-wrap {
    min-height: rem-calc(50);
position: relative;
> .slick-dots {
  bottom: inherit;
}
  }


}

    }

    .articles {
      max-width: rem-calc(850);
      margin: 0 auto rem-calc(40);
      @include breakpoint(medium down) {
        max-width: rem-calc(670);
      }
      .more-articles {
        border-radius: rem-calc(25);
    color: $white;
    font-size: rem-calc(18);
      }
      .showmore {
        margin-bottom: rem-calc(40);
      }
      .hentry {
        border-bottom: 1px solid $alert-color;
        margin-bottom: rem-calc(45);
        position: relative;
        display: flex;
        flex-direction: column;
        > .article-header {
           order: 1;
        }
        > .byline {
          order: 2;
        }
        > .entry-content {
          order: 3;
        }
        > .more-content-wrap {
          order: 4;
        }
        > .more-story {
          order: 5;
        }
        > .article-footer {
          order: 6;
        }


        &:after {
          content: '';
          display: block;
width: 50px;
height: 50px;
position: absolute;
left: -6.5rem;
top: 0;
        }
        &.type-read {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-read.svg');
          }
        }
        &.type-podcast {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-podcast.svg');
          }
        }
        &.type-video {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-video.svg');
          }
        }
        .subtitle {
          font-family: $body-font-family;
          color: $primary-color;
          margin-bottom: rem-calc(35);
        }
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: rem-calc(2);
          background-color: $alert-color;
          position: absolute;
          bottom: rem-calc(-7);
        }
        .button {
          border-radius: rem-calc(25);
          background-color: transparent;
          color: $alert-color;
          border: 2px solid $alert-color;
          margin-bottom: rem-calc(50);
        }
        .subline {
          font-weight: 900;
          background-color: $primary-color;
          color: $white;
          text-transform: uppercase;
          padding: rem-calc(5 15);
          display: inline-block;
          margin-bottom: rem-calc(25);
          transform: scale(.7)translate(rem-calc(52), 0);
          font-size: rem-calc(14);
          a {
            color: $white;
          }
          &.external {
            position: relative;
            transform: scale(.7)translate(-8px,0);

            &:before {
              content: '';
              width: rem-calc(35);
              height: rem-calc(35);
              display: block;
              background-image: url('../svgs/external.svg');
              background-size: contain;
              position: absolute;
              right: rem-calc(-45);
              top: 0;
            }
          }


        }
        .tags {
          margin-bottom: rem-calc(25);
          padding-left: rem-calc(20);
          position: relative;
          &:before {
            content: '';
            background-image: url('../svgs/tag.svg');
            display: block;
            width: rem-calc(15);
            height: rem-calc(10);
            background-size: contain;
            position: absolute;
            left: 0;
            top: 11px;
            background-repeat: no-repeat;
            background-position: center;
          }
          li {
            a {
              padding: 0;
              line-height: inherit;
              color: $primary-color;
              display: inline-block;
            }
            margin-right: .5rem;
            &:after {
              content: ',';
            }
            &:last-child {
              &:after {
                content: '';
              }
            }

          }
        }
        .byline {
          color: $primary-color;
          font-weight: bold;
          a {
            color: $primary-color;
          }
        }
        .wp-post-image {
          margin-bottom: rem-calc(20);
        }
        .article-header {
          h2 {
            font-size: rem-calc(28);
            line-height: rem-calc(34);
            letter-spacing: rem-calc(.5);
            margin-bottom: rem-calc(25);
          }
        }
        .entry-content {
          margin-bottom: rem-calc(30);
        }
      }
    }






  }
}
