body {
  &.single-post {
    .hentry {

      .left-divider {
    position: relative;
}

.left-divider > svg {
    width: 120px;
    height: 160px;
    position: absolute;
    z-index: 1;
    left: -2.6rem;
    top: 3rem
}

.left-divider > svg  path {
    fill: #f28172
}

&.hero {
  color: $primary-color;

  margin-bottom: rem-calc(20);

  .hero-bg {
    background-color: $white;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .bottom-divider {
    position: relative;
    z-index: -1;
margin-left: rem-calc(-15);
margin-right: rem-calc(-15);
margin-bottom: rem-calc(-15);
    > svg {
      position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vw;
  left: 0;
      path {
        fill: $white;
      }
    }
  }

.svg-dividers {
  position: absolute;
  height: rem-calc(490);
  overflow: hidden;;
  width: 100%;
  left: 0;
  top: 0;
  .top-left-divider {
    z-index: -1;
margin-left: rem-calc(-15);
margin-right: rem-calc(-15);
margin-bottom: rem-calc(-15);
    > svg {
      position: absolute;
    z-index: -1;
    width: 100%;
    height: 55vw;
    @include breakpoint(medium down) {
      height: 135vw;
    }
    left: 0;
    top: 0;
      path {
        fill: $warning-color;
      }
    }
  }

  .top-right-divider {
    z-index: -1;
margin-left: rem-calc(-15);
margin-right: rem-calc(-15);
margin-bottom: rem-calc(-15);
    > svg {
      position: absolute;
    z-index: -2;
    width: 90%;
    height: 65vw;
    @include breakpoint(medium down) {
      height: 170vw;
    }
    right: 0;
    top: -5px;
      path {
        fill: $secondary-color;
      }
    }
  }
}

  .subtitle {
    color: $primary-color;
    font-family: $body-font-family;
    font-size: rem-calc(24);
    font-weight: bold;
  }

  .section-title {
    color: $white;
    letter-spacing: rem-calc(-.5);
    margin-bottom: rem-calc(35);
    text-transform: uppercase;
    span {
      color: $primary-color;
    }
    @include breakpoint(medium) {
      font-size: rem-calc(57);
      line-height: rem-calc(64);
      letter-spacing: rem-calc(2.5);
    }
  }

  .article-header {
    position: relative;
    margin: rem-calc(50 0 100);
    .author-img {
        max-width: rem-calc(310);
        position: absolute;
        right: 0;
        z-index: -1;
    }
    .author-title {
      color: $white;
      font-size: rem-calc(19.74);
      font-weight: bold;
      line-height: rem-calc(32);
      letter-spacing: rem-calc(.10);
      &.has-badge {
position: relative;
padding-left: rem-calc(45);
&:before {
    content: '';
    background-image: url('../svgs/verified.svg');
    background-repeat: no-repeat;
    background-size: rem-calc(25);
    width: rem-calc(25);
    height: rem-calc(25);
    display: block;
    position: absolute;
    left: 0;
    transform: scale(1.9)translate(rem-calc(10), 0);
}

}

    }
    .subline {
      font-weight: 900;
      color: $primary-color;
      text-transform: uppercase;
      background-color: $white;
      padding: rem-calc(5 15);
      display: inline-block;
      margin-bottom: rem-calc(25);
      font-size: rem-calc(16);
      &.external {
        position: relative;
        a {
          color: $primary-color;
        }
        &:before {
          content: '';
          width: rem-calc(35);
          height: rem-calc(35);
          display: block;
          background-image: url('../svgs/external.svg');
          background-size: contain;
          position: absolute;
          right: rem-calc(-45);
          top: 0;
        }
      }


    }

    .single-title {
      letter-spacing: rem-calc(3);
      color: $primary-color;
      font-weight: bold;
      max-width: rem-calc(700);
      margin: 0 auto rem-calc(15);
      a {
        color: $primary-color;
      }
      @include breakpoint(medium) {
        font-size: rem-calc(54);
        line-height: rem-calc(65);
        letter-spacing: rem-calc(.25);
      }
    }
  }

  .tags {
    margin-bottom: rem-calc(25);
    padding-left: rem-calc(20);
    position: relative;
    &:before {
      content: '';
      background-image: url('../svgs/tag.svg');
      display: block;
      width: rem-calc(15);
      height: rem-calc(10);
      background-size: contain;
      position: absolute;
      left: 0;
      top: 7px;
      background-repeat: no-repeat;
      background-position: center;
    }
    li {

      margin-right: .5rem;
      &:after {
        content: ',';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }

    }
  }

  .post-meta {
    margin-top: -7.5rem;
    margin-bottom: 6.5rem;
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-weight: 900;
    @include breakpoint(small down) {
      font-size: 8px;
      margin-top: -8.5rem;
    }
    .cell {
      > span {
        background-color: $white;
        padding: rem-calc(5);
        display: inline-block;
        text-align: center;
        color: $primary-color;
        letter-spacing: rem-calc(2);
      }
    }
}


  .author {
    text-align: center;
    margin-bottom: rem-calc(1rem);
    min-height: rem-calc(99);
    @include breakpoint(small down) {
          transform: translate(rem-calc(14),0);
    }
    .post-thumb {
      margin: 0 auto;
      margin-top: -2.5rem !important;
      @include breakpoint(small down) {
        margin-top: -4rem !important;
      }

    }
    .author-name {
      font-size: rem-calc(17);
      font-family: $header-font-family;
      > a {
        color: $primary-color;

      }
    }
  }

  .article-footer {
    .grid-container {
      max-width: rem-calc(850);
    }
  }



  .entry-content {
    position: relative;
    color: $black;
    margin-left: rem-calc(-30);
    margin-right: rem-calc(-30);
    p {
      line-height: rem-calc(24);
    }
    h4 {
      font-family: $body-font-family;
      font-weight: bold;
      color: $primary-color;
      font-size: rem-calc(28);
      line-height: rem-calc(40);
      letter-spacing: (.25);
    }
    .grid-container {
      .post-content {
        max-width: rem-calc(850);
        margin: 0 auto rem-calc(30);
        @include breakpoint(medium down) {
          margin-left: rem-calc(30);
          margin-right: rem-calc(30);
        }
       }
    }
    &:before {
      content: '';
      background-color: $white;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .post-thumb {
    max-width: rem-calc(75);
    > img {
      border-radius: rem-calc(100);
    }
  }

  .author-name {
    padding-left: rem-calc(15);
    color: $alert-color;
    > a {
      color: $alert-color;
    }
  }

  .dots-wrap {
    min-height: rem-calc(50);
position: relative;
> .slick-dots {
  bottom: inherit;
}
  }


}

    }

    .articles {
      margin: 0 rem-calc(-15) rem-calc(40);
      position: relative;
      &:before {
        content: '';
        background-color: $white;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
      .more-articles {
        border-radius: rem-calc(25);
    color: $white;
    font-size: rem-calc(18);
      }
      .showmore {
        margin-bottom: rem-calc(40);
      }
      .hentry {
        border-bottom: 1px solid $alert-color;
        margin-bottom: rem-calc(45);
        position: relative;
        &:after {
          content: '';
          display: block;
width: 50px;
height: 50px;
position: absolute;
left: -6.5rem;
top: 0;
        }
        &.type-read {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-read.svg');
          }
        }
        &.type-podcast {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-podcast.svg');
          }
        }
        &.type-video {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-video.svg');
          }
        }
        .subtitle {
          font-family: $body-font-family;
          color: $primary-color;
          margin-bottom: rem-calc(35);
        }
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: rem-calc(2);
          background-color: $alert-color;
          position: absolute;
          bottom: rem-calc(-7);
        }
        .button {
          border-radius: rem-calc(25);
          background-color: transparent;
          color: $alert-color;
          border: 2px solid $alert-color;
          margin-bottom: rem-calc(50);
        }
        .subline {
          font-weight: 900;
          background-color: $primary-color;
          color: $white;
          text-transform: uppercase;
          padding: rem-calc(5 15);
          display: inline-block;
          margin-bottom: rem-calc(25);
          transform: scale(.7)translate(rem-calc(52), 0);
          &.external {
            position: relative;
            transform: scale(.7)translate(-8px,0);
            a {
              color: $white;
            }
            &:before {
              content: '';
              width: rem-calc(35);
              height: rem-calc(35);
              display: block;
              background-image: url('../svgs/external.svg');
              background-size: contain;
              position: absolute;
              right: rem-calc(-45);
              top: 0;
            }
          }


        }
        .tags {
          margin-bottom: rem-calc(25);
          li {
            padding-left: rem-calc(20);
            position: relative;
            margin-right: 1rem;
            &:before {
              content: '';
              background-image: url('../svgs/tag.svg');
              display: block;
              width: rem-calc(15);
              height: rem-calc(10);
              background-size: contain;
              position: absolute;
              left: 0;
              top: 7px;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
        .byline {
          color: $primary-color;
          font-weight: bold;
          a {
            color: $primary-color;
          }
        }
        .wp-post-image {
          margin-bottom: rem-calc(20);
        }
        .article-header {

          h2 {
            font-size: rem-calc(28);
            line-height: rem-calc(34);
            letter-spacing: rem-calc(.5);
            margin-bottom: rem-calc(25);
          }
        }
        .entry-content {
          margin-bottom: rem-calc(30);
        }
      }
    }

    .author-card {
      margin: rem-calc(25) auto 0;
.social-nav {
  &.social-tpn {
        transform: scale(.5) translate(-14.325rem);
    a {
      background-color: $alert-color;
      margin-left: rem-calc(15);
      margin-right: rem-calc(15);

      .inst-layer {
        background-color: $white !important;
      }

      svg {
        fill: $white;
        g,
        polygon,
        path {
          fill: $white;
          &.yt-1 {
            fill: $white !important;
          }
          &.yt-2 {
            fill: $alert-color !important;
          }
          &.ins-1 {
            fill: $white !important;
          }
          &.ins-2,
          &.ins-3 {
            fill: $alert-color !important;
          }
        }
      }
      &:hover {
        svg {
          g,
          polygon,
          path {
            fill: $white;
          }
        }
      }
      &.website-icon {
        background-color: transparent;
        svg {
          fill: $alert-color;
          transform: scale(3);
          g,
          polygon,
          path {
            fill: $alert-color;
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

  .grid-container {
        max-width: rem-calc(850);
        border-top: 2px solid $alert-color;
        padding-top: rem-calc(30);
        strong {
          font-family: $header-font-family;
        }
        .post-thumb {
   max-width: rem-calc(100);
   margin: 0 auto rem-calc(30);
   > img {
     border-radius: rem-calc(100);
   }
 }
 .button {
   border-radius: rem-calc(25);
          background-color: transparent;
          color: $alert-color;
          border: 2px solid $alert-color;
          margin-bottom: rem-calc(50);
          font-size: rem-calc(10);
 }
      }
    }




    .related-articles {
      .section-head {
        text-align: center;
        position: relative;
        max-width: 77rem;
        margin: 0 auto;
        &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $alert-color;
      position: absolute;
      top: 30px;
  }
  &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $alert-color;
      position: absolute;
      top: 35px;
  }
        .section-title {
          text-transform: uppercase;
          color: $primary-color;
          background-color: $white;
          position: relative;
          z-index: 1;
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          @include breakpoint(medium) {
            font-size: rem-calc(60);
            letter-spacing: rem-calc(1);
          }
        }
      }
      .hentry {
        position: relative;
        margin: rem-calc(30) auto rem-calc(40);
        &:after {
          content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    @include breakpoint(large) {
      left: -2.7rem;
    }
        }
        &.type-read {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-read.svg');
          }
        }
        &.type-podcast {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-podcast.svg');
          }
        }
        &.type-video {
          &:after {
            content: '';
            background-image: url('../svgs/hentry-video.svg');
          }
        }
        .article-header {
          h2 {
            min-height: rem-calc(68);
            @include breakpoint(medium down) {
              padding-left: rem-calc(45);
            }
            @include breakpoint(medium) {
              font-size: rem-calc(28);
              line-height: rem-calc(34);
            }
          }
          .byline {
            color: $primary-color;
            font-size: rem-calc(18);
            a {
              color: $primary-color;
            }
          }
        }
        .subline {
          font-weight: 900;
          background-color: $white;
          color: $primary-color;
          text-transform: uppercase;
          padding: rem-calc(5 15);
          display: inline-block;
          margin-bottom: rem-calc(15);
          transform: scale(.7) translate(-3.25rem);
          a {
            color: $primary-color;
          }
          &:not(.external) {
            padding-left: 0;
          }
          &.external {
            position: relative;
            transform: scale(.7) translate(-2.4rem);
            margin-left: 1rem;
            &:before {
              content: '';
              width: rem-calc(35);
              height: rem-calc(35);
              display: block;
              background-image: url('../svgs/external-blue.svg');
              background-size: contain;
              position: absolute;
              left: -2.8rem;
              top: 0;
              transform: scale(.7)translate(25px,0);
            }
          }


        }
      }
      .tags {
        margin-bottom: rem-calc(25);
        padding-left: rem-calc(20);
        position: relative;
        &:before {
          content: '';
          background-image: url('../svgs/tag.svg');
          display: block;
          width: rem-calc(15);
          height: rem-calc(10);
          background-size: contain;
          position: absolute;
          left: 0;
          top: 7px;
          background-repeat: no-repeat;
          background-position: center;
        }
        li {

          margin-right: .5rem;
          &:after {
            content: ',';
          }
          &:last-child {
            &:after {
              content: '';
            }
          }

        }
      }
    }

    .article-comments #replybox {
      max-width: 820px;
      margin: 0 auto;
    }


  }
}
